* {box-sizing: border-box}

.container {
  width: 23%;
  background-color: pink;
}

.skills {
  text-align: right;
  padding-top: 12px;
  padding-bottom: 0px;
  color: white;
}

.html {width: 90%; background-color: green;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}
.php {width: 60%; background-color: #808080;}